<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>STACK | NOTIFICATIONS</title>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    <!-- Fontfaces CSS-->
    <link href="{% static 'admin/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'admin/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'admin/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'admin/css/theme.css' %}" rel="stylesheet" media="all">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .overview-item--c1 {
        /*    background-image: -moz-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);*/
            background-image: -webkit-linear-gradient(90deg, #0fbe60 2%, #3f5efb 154%);
        /*    background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);*/
        }

        .overview-item--c2 {
        /*    background-image: -moz-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);*/
        /*    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);*/
        /*    background-image: -ms-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);*/
                background-image: -webkit-linear-gradient(90deg, #0fbe60 2%, #3f5efb 154%);
        }

        .overview-item--c3 {
            height: 274px;
            background-image: -webkit-linear-gradient(90deg, #0fbe60 2%, #3f5efb 154%);
        }

        .overview-item--c4 {
            background-image: -webkit-linear-gradient(90deg, #0fbe60 2%, #3f5efb 154%);
        }

        /* ----- Footer ----- */
        .copyright {
            text-align: center;
            padding: 60px 0;
            padding-top: 143px;
        }

        a{
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 1.625;
            color: #666;
            -webkit-font-smoothing: antialiased;

        }

        .enq-date{
            font-size: 12px;
            height: 100%;
            padding-top: 3px;
            padding-left: 5px;
        }

    </style>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'img/gallery/stack.png' %}" alt="STACK TECHNOLOGY"  width="180"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="{% url 'dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>

                        <li>
                            <a href="{% url 'Admin_Courses' %}">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                Courses
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'Admin_Features' %}">
                                <i class="fa fa-list" aria-hidden="true"></i>Features</a>
                        </li>
                        <li>
                            <a href="{% url 'Admin_Testimonial' %}">
                            <i class="fa fa-comments" aria-hidden="true"></i>Testimonial</a>
                        </li>
                        <li>
                            <a href="{% url 'Admin_Instructors' %}">
                               <i class="fa fa-users" aria-hidden="true"></i>Instructors</a>
                        </li>
                        <li>
                            <a href="{% url 'Admin_Blogs' %}">
                            <i class="fa fa-rss" aria-hidden="true"></i>Blogs</a>
                        </li>
                        <li>
                            <a href="{% url 'Admin_Notifications' %}">
                            <i class="fa fa-bell" aria-hidden="true"></i>Notifications</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap float-lg-right">
<!--                            <form class="form-header" action="" method="POST">-->
<!--                                {% csrf_token %}-->
<!--                                <input class="au-input au-input&#45;&#45;xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />-->
<!--                                <button class="au-btn&#45;&#45;submit" type="submit">-->
<!--                                    <i class="zmdi zmdi-search"></i>-->
<!--                                </button>-->
<!--                            </form>-->
                            <div class="header-button">
                                 <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">{{ mail_count }}</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have {{ mail_count }} Notifications</p>
                                            </div>
                                            {% for i in mails %}
                                            <div class="email__item">
                                                 <div class="bg-c1 img-cir img-40" style="background: #002a80">
                                                    <i class="zmdi zmdi-email-open" style="color: white;padding: 6px;"></i>
                                                </div>
                                                <div class="content" style="padding-left: 10px;">
                                                    <p>{{ i.subject }}</p>
                                                    <span>{{ i.name }}, {{ i.date }}</span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="notifi__footer">
                                                <a href="{% url 'Admin_Notifications' %}">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
<!--                                        <div class="image">-->
<!--                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />-->
<!--                                        </div>-->
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">
                                              <img src="{% static 'img/gallery/stack.png' %}" width="100" alt="STACK TECHNOLOGY" />
                                            </a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image" style="margin-top: 6%;">
                                                    <a href="#">
                                                        <img src="{% static 'img/favicon.png' %}" alt="STACK" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">STACK TECHNOLOGY CENTRE</a>
                                                    </h5>
                                                    <span class="email">info@stackcentre.in</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                           <div class="col-lg-12">
                               <h2 class="title-1 m-b-25">Enquiries</h2>
                               {% if data %}
                                {% for item in data %}
                                    <div class="accordion accordion-flush" id="accordionFlushExample{{ forloop.counter }}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button style="text-align: left;align-items: center;align-content: center" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                                                    {{ item.name }},
                                                    <span class="enq-date">{{ item.date }}</span>
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample{{ forloop.counter }}">
                                                <div class="accordion-body">
                                                    <p>{{ item.message }}</p>
                                                    <p class="enq-date">
                                                        <svg style="    padding-right: 3px; margin-top: -3px; " xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                                        </svg>
                                                        {{ item.phone }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <svg  style="    padding-right: 3px; margin-top: -3px; " xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-envelope-paper-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75zM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765M16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516zm-8 3.3 5.693-3.162L0 6.873v6.5Z"/>
                                                        </svg>
                                                        {{ item.email }}
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                          <span><a href="{% url 'delete_notification' item.id %}" style="font-size: 13px;color: red">Delete</a></span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                               {% else %}
                                <div class="col-md-10" style="text-align: center;align-items: center; margin: 10% auto">
                                    <img src="{% static 'img/no_data.png' %}" width="100">
                                    <h1>No Notifications Yet...!</h1>
                                </div>
                               {% endif %}
                           </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2024 Stack Technology Centre. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    <footer>

    </footer>

    <!-- Jquery JS-->
    <script src="{% static 'admin/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'admin/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'admin/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'admin/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'admin/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'admin/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'admin/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'admin/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'admin/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'admin/js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
