<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stack Technology Center</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Stack Technology Centre, Data Science, AI, Artificial Intelligence, Web Development, Digital Marketing, Graphic Design, IT Project, Internship" name="keywords">
    <meta content="Stack Technology Centre - Job Oriented IT Training" name="description">

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">


    <style>
        .review{
                overflow: hidden;
                /*text-align: justify;*/
                height: 147px;
                transition: height 0.3s ease;    
        }
    </style>

</head>
<body>
<!-- Testimonial Start -->
 <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/female.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Afsee Naja</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4" id="textContainer">
                    <p class="mb-0 review" id="paragraphText">
                        I am delighted to share my experience at Stack Technology Centre. 
                        Enrolling in their web development course has been an excellent decision. 
                        As a female student, I appreciate the thoughtful approach they take in creating a comfortable learning 
                        I am delighted to share my experience at Stack Technology Centre. 
                        Enrolling in their web development course has been an excellent decision. As a female student, I appreciate the thoughtful approach they take in creating a comfortable learning environment. The separate time schedules for ladies and gents have made my experience much more pleasant,and having a female trainer for the ladies adds an extra layer of comfort and safety.Their practical teaching methods have simplified complex concepts, making learning enjoyable and effective.I highly recommend Stack Technology Centre to everyone looking to excel in IT field.
                    </p>
                    <button type="submit" id="readMoreButton" onclick=" toggleReadMore()" style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Ajirenj</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4" >
                    <p class="mb-0 review" >
                        I recently enrolled the Data Science course at Stack Technology Center, 
                        and I must say it exceeded my expectations in every way. 
                        What sets Stack Technology Center apart is their hands-on 
                        I recently enrolled the Data Science course at Stack Technology Center, and I must say it exceeded my expectations in every way. What sets Stack Technology Center apart is their hands-on approach. The course is filled with practical projects and real-world applications, allowing us to immediately apply what we've learned.This practical experience was invaluable in solidifying my understanding and confidence in the subject matter.The instructors at Stack Technology Center are top-notch. They are not only experts in the field but also great educators who are passionate about what they do.👌"Highly recommended".
                        <button type="submit" onclick="" style="border: none;background:none;font-size:13px;">Read More</button>
                    </p> 
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/female.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Afreen Rihana</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0 review">
                        I had a fantastic one-month internship at Stack Technology Centre, where I delved into web development using Django.The instructor's clear explanations and patient guidance helped me to grasp Django'
                        I had a fantastic one-month internship at Stack Technology Centre, where I delved into web development using Django.The instructor's clear explanations and patient guidance helped me to grasp Django' concepts seamlessly. Grateful for the educational experience, and my sincere thanks to my guide, Ms Sruthi S for her excellent support.
                        <button type="submit" id="" onclick="" style="border: none;background:none;font-size:13px;">Read More</button>
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Muhammed Faizal</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4" >
                    <p class="mb-0 review">
                        I enrolled in courses at Stack Tech Education Center, and I couldn't be happier 
                        with my decision. The range of courses they offer is impressive, covering data science, web development, 
                        artificial intelligence, accounting, graphic design, and various other IT fields. 
                        I enrolled in courses at Stack Tech Education Center, and I couldn't be happier 
                        with my decision. The range of courses they offer is impressive, covering data science, web development, 
                        artificial intelligence, accounting, graphic design, and various other IT fields.
                        The instructors here are highly knowledgeable and passionate about their subjects.
                        What truly sets this institution apart is their superb teaching method. The instructors take a practical
                        approach to teaching, making complex concepts easy to understand. They provide hands-on experience, 
                        real-world examples, and plenty of resources to support our learning journey. 
                        I highly recommend Stack Tech Education Center to anyone looking to enhance their skills in the IT field.
                        It's a top-notch institution with fantastic courses and an outstanding teaching team.
                        <button type="submit" style="border: none;background:none;font-size:13px;">Read More</button>
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Advaith</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0 review">
                    I am a Data science intern at Stack Technology center Kasaragod,
                    the faculty and mentors are not only highly knowledgeable but also incredibly 
                    supportive also the curriculum is thoughtfully designed to cover
                    I am a Data science intern at Stack Technology center Kasaragod,
                    the faculty and mentors are not only highly knowledgeable but also incredibly 
                    supportive also the curriculum is thoughtfully designed to cover
                    a wide range of data science topics, from the fundamentals to advanced concepts. The hands-on projects and real-world applications provided a practical understanding of the subject matter, 
                    allowing me to apply my knowledge in a meaningful way. Overall a great experience.
                    <button type="submit"  style="border: none;background:none;font-size:13px;">Read More</button>
                </p>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Maneesh M</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0 review"  >
                    I have enrolled in Data Science at stack Technology Centre, it's a great experience, lectures are too friendly and also
                     got real time projects which helped me to gain a lot of experience and also weekly 
                     activities are been conducted to improve our skills, it's a wonderful experience in here
                    </p>
                    <button type="submit" style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Arman</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0 review"> 
                        It’s very standard centre , the teaching skills are excellent, we will get good projects to do which helps to upgrade our skills and 
                    I have enrolled in web development and now it’s going very well and 
                    also they provide outdoor games like football,cricket,etc.
                </p>
                <button type="submit" style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Rehan Raza</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0 review">
                        The institute consists of highly recommended and experienced team of instructors, 
                    who's soft approaches and teaching methods will definitely influenced the learners.
                    </p>
                    <button type="submit" style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Hamza Anju</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0 review" >
                        Its one of the best place to study and the atmosphere of the people are so good. 
                    The positive energy they spread around them makes you so warmed to study and become more motivated.
                    </p>
                    <button type="submit" style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/male.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Abu Zaid</h5>
                <p></p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0 review" >Excellent training.Only Institute having seperate sessions for ladies👍</p>
                <button type="submit"  style="border: none;background:none;font-size:13px;">Read More</button>
                </div>
                
            </div>

        </div>
    </div>
</div>
<!-- Testimonial End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        function toggleReadMore() {
            var textContainer = document.getElementById("textContainer");
            var paragraphText = document.getElementById("paragraphText");
            var readMoreButton = document.getElementById("readMoreButton");
            
            if (paragraphText.classList.contains("expanded")) {
                // Collapse the paragraph
                paragraphText.classList.remove("expanded");
                paragraphText.style.height = "150px"; // Set desired collapsed height
                readMoreButton.innerText = "Read More";
            } else {
                // Expand the paragraph
                paragraphText.classList.add("expanded");
                paragraphText.style.height = paragraphText.scrollHeight + "px"; // Auto-expand to full height
                readMoreButton.innerText = "Read Less";
            }
        }
        
    </script>
</body>
</html>